<a href="https://colab.research.google.com/github/saihemath2000/machine-learning/blob/main/dataframes_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#data frame creation and display using pandas
import pandas as pd
#create data
name=['mango','orange','pineapple','banana']
color=['juicyyellow','orange','mildyellow','yellow']
cost=['50','40','60','50']
season=['summer','summer','spring','alltime']
#create and display data
headers=('fruits','colour','costperkg','time')
data=(name,color,cost,season)
data_dict= dict(zip(headers,data))
df1 = pd.DataFrame(data_dict)
df1

      fruits       colour costperkg     time
0      mango  juicyyellow        50   summer
1     orange       orange        40   summer
2  pineapple   mildyellow        60   spring
3     banana       yellow        50  alltime

In [23]:
#singlecolumn,multiplecolumn,multiplerowselection in dataframes
df1["fruits"].head(4)
df1[["fruits"]].head(4)
df1[0:4]

      fruits       colour costperkg     time
0      mango  juicyyellow        50   summer
1     orange       orange        40   summer
2  pineapple   mildyellow        60   spring
3     banana       yellow        50  alltime

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv("sam.csv")
type(data)

pandas.core.frame.DataFrame

In [5]:
data.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [6]:
data.isnull().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [7]:
data['Colors Reported'].unique()

array([nan, 'RED', 'GREEN', 'BLUE', 'ORANGE', 'YELLOW', 'ORANGE YELLOW',
       'RED GREEN', 'RED BLUE', 'RED ORANGE', 'RED GREEN BLUE',
       'RED YELLOW GREEN', 'RED YELLOW', 'GREEN BLUE',
       'ORANGE GREEN BLUE', 'ORANGE GREEN', 'YELLOW GREEN',
       'RED YELLOW BLUE', 'ORANGE BLUE', 'RED YELLOW GREEN BLUE',
       'YELLOW GREEN BLUE', 'RED ORANGE YELLOW', 'RED ORANGE YELLOW BLUE',
       'YELLOW BLUE', 'RED ORANGE GREEN', 'RED ORANGE BLUE',
       'ORANGE YELLOW GREEN', 'ORANGE YELLOW BLUE'], dtype=object)

In [4]:
data.shape
#

(18241, 5)

In [11]:
data['Colors Reported'].head(13)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
Name: Colors Reported, dtype: object

In [15]:
categories = {"Colors Reported":{"RED":1}}
data.replace(categories,inplace=True)
data['Colors Reported'].head(13)
#we can find mean for numerical data columns and replace original with mean
#by using syntax as x=np.mean(data['column_name']) and replace it with x

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12      1
Name: Colors Reported, dtype: object