<a href="https://colab.research.google.com/github/saihemath2000/machine-learning/blob/main/Pandas_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#write a pandas program to sort a eries by its values and index od diamonds dataframe
import pandas as pd
import numpy as np
data = pd.read_csv("diamonds.csv")
print("series sorted by its values:")
print(data.cut.value_counts().sort_values())
print("\nseries sorted by its index:")
print(data.cut.value_counts().sort_index())
data.dtypes

series sorted by its values:
Fair          25
Good          47
Premium      123
Very Good    125
Ideal        142
Name: cut, dtype: int64

series sorted by its index:
Fair          25
Good          47
Ideal        142
Premium      123
Very Good    125
Name: cut, dtype: int64

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [22]:
#write a pandas program to calculate the multiply of length,width and depth for each cut of diamonds dataframe
print("Multiply of length, width and depth for each cut:")
a = data['x']
b = data['y']
c = data['z']
print(a*b*c)

Multiply of length, width and depth for each cut:
0       38.202030
1       34.505856
2       38.076885
3       46.724580
4       51.917250
          ...
457    116.023500
458    116.175488
459    116.709213
460    148.184960
461    108.584000
Length: 462, dtype: float64