<a href="https://colab.research.google.com/github/saihemath2000/machine-learning/blob/main/Pandas_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.write a pandas program to sort a eries by its values and index od diamonds dataframe
import pandas as pd
import numpy as np
data = pd.read_csv("diamonds.csv")
print("series sorted by its values:")
print(data.cut.value_counts().sort_values())
print("\nseries sorted by its index:")
print(data.cut.value_counts().sort_index())
data.dtypes

series sorted by its values:
Fair          25
Good          47
Premium      123
Very Good    125
Ideal        142
Name: cut, dtype: int64

series sorted by its index:
Fair          25
Good          47
Ideal        142
Premium      123
Very Good    125
Name: cut, dtype: int64

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [ ]:
#2.write a pandas program to calculate the multiply of length,width and depth for each cut of diamonds dataframe
print("Multiply of length, width and depth for each cut:")
a = data['x']
b = data['y']
c = data['z']
print(a*b*c)

Multiply of length, width and depth for each cut:
0       38.202030
1       34.505856
2       38.076885
3       46.724580
4       51.917250
          ...
457    116.023500
458    116.175488
459    116.709213
460    148.184960
461    108.584000
Length: 462, dtype: float64

In [ ]:
#3.write a pandas program to  concatenate diamonds data frame with color series
import pandas as pd
print("concatenating diamonds dataframe with color series:")
print(pd.concat([data,data.color],axis=1).head())

concatenating diamonds dataframe with color series:
   carat      cut color clarity  depth  table  price     x     y     z color
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43     E
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31     E
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31     E
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63     I
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75     J

In [ ]:
#4.write a pandas program to read specified rows and all columns of diamond dataframe
import pandas as pd
print("reading first four rows:")
print(data[0:4])
print("displaying all columns of diamond dataframe:")
print(data.loc[0,:])

reading first four rows:
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
displaying all columns of diamond dataframe:
   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53

In [ ]:
#5.write a pandas program to read 0,5,7 rows and all columns of diamond dataframe
print("displaying  0,5,7 rows and all columns of diamond dataframe:")
print(data.loc[[0,5,7],:])

displaying  0,5,7 rows and all columns of diamond dataframe:
   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53

In [ ]:
#6.write a pandas program to read rows 2 through 5 and all columns of diamond dataframe
print("displaying rows two through five in diamond dataframe:")
print(data.loc[2:5:,])

displaying rows two through five in diamond dataframe:
   carat        cut color clarity  depth  table  price     x     y     z
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

In [49]:
#7.write a pandas program to read rows 0 through 2(inclusive),columns color and price of diamonds dataframe
print("read rows 0 through 2(inclusive),columns color and price of diamonds dataframe")
print(data.loc[:2,['color','price']])

read rows 0 through 2(inclusive),columns color and price of diamonds dataframe
  color  price
0     E    326
1     E    326
2     E    327

In [22]:
#8.write a pandas program to read rows rows 0 through 2(inclusive),columns color through price(inclusive) in diamond dataframe
print("displaying rows 0 through 2(inclusive) and columns color through price(inclusive)")                            
#print(data.loc[:2,['color','clarity','depth','table','price']])
print(data.loc[:2,'color':'price'])

displaying rows 0 through 2(inclusive) and columns color through price(inclusive)
  color clarity  depth  table  price
0     E     SI2   61.5   55.0    326
1     E     SI1   59.8   61.0    326
2     E     VS1   56.9   65.0    327

In [27]:
#9.write a pandas program to read rows in which the cut is premium and column color of diamond dataframe
print("displaying rows in which cut is premium and only column color")
print(data.loc[data.cut=='Premium',['color']])

    color
1       E
3       I
12      F
14      E
15      E
..    ...
451     E
454     E
456     E
457     E
459     E

[123 rows x 1 columns]

In [30]:
#10.write a pandas program to read rows in positions 0 and 1,columns in 0 and 3 of diamonds dataframe
print(data.iloc[[0,1],[0,3]])

   carat clarity
0   0.23     SI2
1   0.21     SI1

In [36]:
#11.write a pandas program to read rows in positions 0 through 4,columns in positions 1 through 4 in diamonds dataframe
print(data.iloc[0:5,1:5])

       cut color clarity  depth
0    Ideal     E     SI2   61.5
1  Premium     E     SI1   59.8
2     Good     E     VS1   56.9
3  Premium     I     VS2   62.4
4     Good     J     SI2   63.3

In [37]:
#12.write a pandas program to read rows in positions 0 through 4(exclusive) and all columns of diamond dataframe
print(data.iloc[0:4,:])

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63

In [38]:
#13.write a pandas program to read rows 2 through 5(inclusive) ,columns in positions 0 through 2(exclusive) of diamonds dataframe
print(data.iloc[2:6,0:2])

   carat        cut
2   0.23       Good
3   0.29    Premium
4   0.31       Good
5   0.24  Very Good

In [39]:
#14.write a pandas program to print a concise summary of diamonds dataframe
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462 entries, 0 to 461
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    462 non-null    float64
 1   cut      462 non-null    object
 2   color    462 non-null    object
 3   clarity  462 non-null    object
 4   depth    462 non-null    float64
 5   table    462 non-null    float64
 6   price    462 non-null    int64
 7   x        462 non-null    float64
 8   y        462 non-null    float64
 9   z        462 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 36.2+ KB
None

In [40]:
#15.write a pandas program to get true memory usage by diamonds dataframe
print(data.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462 entries, 0 to 461
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    462 non-null    float64
 1   cut      462 non-null    object
 2   color    462 non-null    object
 3   clarity  462 non-null    object
 4   depth    462 non-null    float64
 5   table    462 non-null    float64
 6   price    462 non-null    int64
 7   x        462 non-null    float64
 8   y        462 non-null    float64
 9   z        462 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 107.3 KB
None

In [42]:
#16.Write a Pandas program to calculate the memory usage for each Series (in bytes) of diamonds DataFrame.
print("\nMemory usage for each Series (in bytes) of diamonds DataFrame:")
print(data.memory_usage(deep=True))

Memory usage for each Series (in bytes) of diamonds DataFrame:
Index        128
carat       3696
cut        29318
color      26796
clarity    27757
depth       3696
table       3696
price       3696
x           3696
y           3696
z           3696
dtype: int64

In [44]:
#17.write a pandas program to get randomly sample rows from diamonds dataframe
print("Sample 5 rows from the DataFrame:")
print(data.sample(n=5))

Sample 5 rows from the DataFrame:
     carat        cut color clarity  depth  table  price     x     y     z
345   0.70  Very Good     D     SI1   62.3   58.0   2804  5.69  5.73  3.56
396   0.30    Premium     H     SI1   60.9   59.0    554  4.31  4.29  2.62
1     0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
18    0.30       Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71
38    0.26  Very Good     D     VS2   60.8   59.0    403  4.13  4.16  2.52

In [45]:
#18.write a pandas program to get sample 75% of the diamonds dataframes rows without replacement and store remaining 25% of the rows in another dataframe
print("\nSample 75% of diamonds DataFrame's rows without replacement:")
K = data.sample(frac=0.75, random_state=99)
print(K)
print("\nRemaining 25% of the rows:")
print(data.loc[~data.index.isin(K.index), :])

Sample 75% of diamonds DataFrame's rows without replacement:
     carat        cut color clarity  depth  table  price     x     y     z
285   0.73       Good     E     SI1   63.2   58.0   2796  5.70  5.76  3.62
423   0.99       Fair     J     SI1   55.0   61.0   2812  6.72  6.67  3.68
448   0.78    Premium     F     SI1   61.5   59.0   2816  5.96  5.88  3.64
100   0.75  Very Good     D     SI1   63.2   56.0   2760  5.80  5.75  3.65
46    0.32  Very Good     H     SI2   61.8   55.0    403  4.35  4.42  2.71
..     ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
78    0.26  Very Good     D    VVS2   62.8   60.0    554  4.01  4.05  2.53
320   0.71       Good     F     VS2   57.8   60.0   2801  5.90  5.87  3.40
382   0.75  Very Good     F     SI1   63.4   58.0   2811  5.72  5.76  3.64
456   0.71    Premium     E     SI1   59.2   59.0   2817  5.86  5.83  3.46
417   0.36      Ideal     I     VS2   61.9   56.0    556  4.54  4.57  2.82

[346 rows x 10 columns]

Remaining 25% of the rows:
     carat        cut color clarity  depth  table  price     x     y     z
0     0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
11    0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
17    0.30       Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
19    0.30  Very Good     J     SI1   62.7   59.0    351  4.21  4.27  2.66
20    0.30       Good     I     SI2   63.3   56.0    351  4.26  4.30  2.71
..     ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
436   0.70      Ideal     H     SI1   61.4   56.0   2815  5.70  5.76  3.52
438   0.70      Ideal     H     SI1   61.4   56.0   2815  5.72  5.77  3.53
444   1.02    Premium     G      I1   60.3   58.0   2815  6.55  6.50  3.94
445   0.78  Very Good     I    VVS2   61.4   56.0   2816  5.91  5.95  3.64
446   0.61      Ideal     G    VVS2   60.1   57.0   2816  5.52  5.54  3.32

[116 rows x 10 columns]

In [48]:
#19.write a pandas program to read diamonds dataframe and detect duplicate color
print("reading diamonds DataFrame and detecting duplicate color.")
print(data.color.duplicated())

reading diamonds DataFrame and detecting duplicate color.
0      False
1       True
2       True
3      False
4      False
       ...
457     True
458     True
459     True
460     True
461     True
Name: color, Length: 462, dtype: bool

In [52]:
#20.write a pandas program to count the duplicate rows of diamonds dataframe 
print(data.duplicated().sum())     #in my diamonds dataset there are no duplicate rows present

0